

.item_formatting{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    width: 150px;
    padding-left: 100px;
}

.description_formatting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    width: 150px;
    padding-left: 100px;
}

.title_formatting {
    padding-left: 100px;
}

.button_formatting{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    
}

.likes_formatting{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;

}